.terminal-window {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    max-height: 500px;
    border-radius: 5px;
}

.terminal-window-color {
    background-color: #2b3235;
}

.terminal-window-menu {
    width: 100%;
    margin: auto;
    font-size: 16px;
}

.menu-padding {
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu-button:hover {
    background-color: rgb(57, 172, 218);
    cursor: default;
}
